body {
    background-color: #1E1E1E;
    color: #9C9C9C;
}

#app-info {
    border-bottom-color: #111;
}

#app-messaging {
    border-top-color: #111;
}

#app-messaging-input {
    background-color: #2E2E2E;
    color: #ACACAC;
}

div.highlight {
    background-color: #3E1E1E;
}

span.highlight {
    color: #1E1E1E;
    background-color: #FFF;
}

span.modicon {
    -webkit-filter: invert(0.7);
    -moz-filter: invert(0.7);
    filter: invert(0.7);
}

#emote-label {
    background-color: #000;
    color: #FFF;
}

a {
    color: #FFF;
}

a:visited {
    color: #CCC;
}

.highlight-line {
    background-color: #1B1E2E;
}

.deleted,
.deleted > span.user {
    color: #44485F !important;
    text-decoration: line-through;
}
.deleted img {
    opacity: 0.7;
}